{% extends 'landing/layout.html' %}
{% load staticfiles %}
{% block content %}
	<div id="main-wrap" class="index_guias">
		<div class="item-slide item-slide--active">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col--full-height talent-bg">
					<div class="inner-bg"></div>
					<div class="row menu-nav">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<object data="img/logo-de-manki.svg" type="image/svg+xml" class="logo-manki"></object>
						</div>
						<a class="col-lg-2 col-md-3 col-sm-2 col-xs-3 text-center" href="/">
							<h1 class="text-oswald-regular">Viajeros</h1>
						</a>
						<a class="col-lg-2 col-md-3 col-sm-2 col-xs-3 active text-center" href="#">
							<h1 class="text-oswald-regular">Guías</h1>
						</a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col--full-height col--full-text display-table">
					<div class="vertical-align">
						<div class="col--full-text--width">
							<h2 class="h1 main-title">Comparte tu talento con los demás</h2>
							<p class="text-bold">Si pudieras mostrar lo mejor de tu ciudad a un visitante ¿qué parte de tu ciudad le mostrarías? ¿qué actividade realizarian juntos?</p>
							<p class="main-subtitle">En Manki, tú eliges qué actividades deseas compartir con los visitantes, según tu disponibilidad y preferencias. Podrás crear un anuncio como pasear en bicicleta por el malecón, realizar un tour de bares, o preparar un plato típico juntos. Las posibilidades de compartir tu talento y conocer nuevos amigos son infinitas.</p>
							<div class="btn--hover">
								<a href="#SeUnGuia" class="btn-default btn-default--traveler--variant">
									<span class="text-oswald-regular">Quiero ser un guia manki</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Second block -->

		<div class="item-slide">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col--full-height friendship-bg"></div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col--full-height col--full-text col--full-text--color--variant display-table">
					<div class="vertical-align">
						<div class="col--full-text--width text-white">
							<h2 class="h1 main-title">Gana amigos e ingresos extra</h2>
							<p class="text-bold">Ser un guia local Manki en tu ciudad te permitirá conocer nuevas costumbres y culturas, ampliar tu visión del mundo.</p>
							<p class="main-subtitle">Aseguramos que tendrás anécdotas inolvidables que contar, compartiendo actividades que disfrutas realizar.  Es tu oportunidad de ganar amigos, aprender de ellos y, en el proceso, tener ingresos extra.</p>
							<div class="btn--hover">
								<a href="#SeUnGuia" class="btn-default btn-default--traveler">
									<span class="text-oswald-regular">Quiero ser un guia manki</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Third block -->

		<div class="item-slide">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col--full-height dream-bg"></div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col--full-height col--full-text col--full-text--variant display-table">
					<div class="vertical-align">
						<div class="col--full-text--width">
							<h2 class="h1 main-title">Nuestro sueño</h2>
							<p class="text-bold">Estamos redefiniendo el concepto de viajar.</p>
							<p class="main-subtitle">Buscamos que tengas ingresos a partir de tu pasión y tus hobbies, compartiendo lo mejor de ti y tu ciudad. Buscamos generar una comunidad de guias, buscamos generar emprendedores que hagan del mundo un lugar más acogedor y cercano para todos.</p>
							<div class="btn--hover">
								<a href="#SeUnGuia" class="btn-default btn-default--traveler--variant">
									<span class="text-oswald-regular">Quiero ser un guia manki</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Full block -->

		<div class="item-slide item-slide--form" id="SeUnGuia">
			<div class="row">
				<form action="/recluit/join" method="POST">
				{%  csrf_token %}
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col--full-height col--full-block display-table text-center">
					<div class="vertical-align">
						<img src="{% static 'landing/img/world.png' %}" alt="Sé un guia Manki" class="image--width">
						<h2 class="h1 main-title">¡Sé un guia Manki!</h2>
						<p class="text-subscribe">Danos una iea de qué experiencia te gustaría guiar. Una vez hayamos revisado el formulario, te estaremos respondiendo con el próximo paso a seguir para ingresar a la familia Manki.</p>
						<div class="row row--margin">
							<div class="col-sm-12 col-md-6">
								<p class="text-bold text-left">
									¿En qué ciudad te gustaría ofrecer esta experiencia?
								</p>
							</div>
							<div class="col-sm-12 col-md-6">
								<div class="input input--guias">
									<div class="clearbox"></div>
									<i class="icon user"></i>
									<input type="text" name="city" required placeholder="Lima" class="form-control form-control--guias">
								</div>
							</div>
						</div>
						<div class="row row--margin">
							<div class="col-sm-12 col-md-6">
								<p class="text-bold text-left">
									Ponle un nombre a tu experiencia guiada
								</p>
							</div>
							<div class="col-sm-12 col-md-6">
								<textarea name="desc" rows="6" cols="4" maxlength="80" placeholder="Ej: Caminata costera por los malecones de la costa verde." class="form-control"></textarea>
							</div>
						</div>
						<div class="row row--margin">
							<div class="col-sm-12 col-md-6">
								<p class="text-bold text-left">
									Cuéntanos brevemente sobre cómo será tu experiencia guiada
								</p>
							</div>
							<div class="col-sm-12 col-md-6">
								<textarea name="about" rows="6" cols="4" placeholder="Ej: La caminata costera es un paseo por los malecones más emblemáticos de la costa verde, tendremos vistas y paisajes únicos y disfrutaremos de unos de los mejores atardeceres de lima." class="form-control"></textarea>
							</div>
						</div>
						<div class="row row--margin">
							<div class="col-sm-12 col-md-6">
								<p class="text-bold text-left">
									¿Qué es lo que más te motiva a ofrecer esta experiencia?
								</p>
							</div>
							<div class="col-sm-12 col-md-6 text-center">
								<div class="input input--guias">
									<div class="clearbox"></div>
									<i class="icon user"></i>
									<input type="text" name="motive" required placeholder="Me gusta hacer nuevos amigos, me interesa aprender de nuevas culturas..." class="form-control form-control--guias">
								</div>
							</div>
						</div>
						<div class="row row--margin">
							<div class="col-sm-12 col-md-6 text-center">
								<p class="text-bold text-left">Por último, déjanos un correo y un teléfono de contacto.</p>
								<p class="text-left">Para contactarnos contigo necesitamos  tu nombre, tu teléfono y tu correo electrónico.</p>
								<p class="text-left">El teléfono es opcional, pero nos ayudará a comunicarnos contigo con mayor rapidez.
									Nunca publicaremos tus datos ni los compartiremos con terceros.
								</p>
							</div>
							<div class="col-sm-12 col-md-6">
								<div class="input input--guias">
									<div class="clearbox"></div>
									<i class="icon icon-guias icon-user"></i>
									<input type="text" name="name" required placeholder="Stephen Hawking" class="form-control form-control--guias">
								</div>
								<div class="input input--block-end input--guias">
									<i class="icon icon-guias icon-phone"></i>
									<input type="text" name="phone" required placeholder="987 654 321" class="form-control form-control--guias">
								</div>
								<div class="input input--block-end input--guias">
									<i class="icon icon-guias icon-email"></i>
									<input type="email" name="mail" required placeholder="algo@ejemplo.com" class="form-control form-control--guias">
								</div>
							</div>
							<div class="input--checkbox display-table">
  								<input type="checkbox" name="terms-and-conditions" value="Acepto los términos y condiciones." />
  								<span class="vertical-align">Acepto recibir información a través de correos de <h1 class="footer-h1">Manki</h1>.</span>
		                    </div>
							<div class="btn--hover">
			                	<a class="text-oswald-regular">
			                		<input type="submit" value="Inscribirme" class="btn-default btn-default--subscribe btn-default--traveler--variant" />
			                	</a>
			                </div>
						</div>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}