{% extends 'landing/layout.html' %}
{% load staticfiles %}

{% block content %}
	<div id="main-wrap">
		<div class="item-slide item-slide--active">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col--full-height traveler-bg">
					<div class="row menu-nav">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<object data="img/logo-de-manki.svg" type="image/svg+xml" class="logo-manki"></object>
						</div>
						<a class="col-lg-2 col-md-3 col-sm-2 col-xs-3 active text-center" href="#">
							<h1 class="text-oswald-regular">Viajeros</h1>
						</a>
						<a class="col-lg-2 col-md-3 col-sm-2 col-xs-3 text-center" href="/landing/guias">
							<h1 class="text-oswald-regular">Guías</h1>
						</a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col--full-height col--full-text display-table">
					<div class="vertical-align">
						<div class="col--full-text--width">
							<h2 class="h1 main-title">Porque nos encanta viajar</h2>
							<p class="main-subtitle">Desde el principio, los viajes han sido una parte vital denuestras vidas, de nuestra identidad y una forma de mostrar nuestra libertad.</p>
							<div class="btn--hover">
								<a href="#SeUnViajero" class="btn-default btn-default--traveler">
									<span class="text-oswald-regular">Quiero ser un viajero manki</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Second block -->

		<div class="item-slide">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col--full-height explorer-bg"></div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col--full-height col--full-text col--full-text--color display-table">
					<div class="vertical-align">
						<div class="col--full-text--width text-white">
							<h2 class="h1 main-title">Explora un lugar con la persona que mejor lo conoce</h2>
							<p class="main-subtitle">Nadie conoce mejor la ciudad que los que viven en ella. Por eso Manki te conecta con la gente local para que te ayude a vivir la ciudad en toda su dimensión</p>
							<div class="btn--hover">
								<a href="#SeUnViajero" class="btn-default btn-default--traveler--variant">
									<span class="text-oswald-regular">Quiero ser un viajero manki</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Third block -->

		<div class="item-slide">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col--full-height adventure-bg"></div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col--full-height col--full-text col--full-text--variant display-table">
					<div class="vertical-align">
						<div class="col--full-text--width">
							<h2 class="h1 main-title">Nuestro sueño</h2>
							<p class="main-subtitle">Estamos redefiniendo el concepto de viajar. Buscamos que vivas experiencias únicas y auténticas desde una perspectiva local, que luego de tu viaje, tengas una historia que contar.</p>
							<div class="btn--hover">
								<a href="#SeUnViajero" class="btn-default btn-default--traveler">
									<span class="text-oswald-regular">Quiero ser un viajero manki</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Full block -->

		<div class="item-slide" id="SeUnViajero">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col--full-height col--full-block display-table text-center">
					<div class="vertical-align">
						<img src="{% static 'landing/img/world.png' %}" alt="Sé un viajero Manki" class="image--width">
						<h2 class="h1 main-title">¡Sé un viajero Manki!</h2>
						<p class="text-subscribe">Nuestra comunidad está creciendo y desarrollándose, y muy pronto lanzaremos la plataforma. Si quieres ser uno de los primero en probarla, inscríbete aquí:</p>
						<form class="formanki traveler" action="/landing/subscribe/" method="POST">{% csrf_token %}
							<div class="row">
								<div class="input">
									<div class="clearbox"></div>
									<i class="icon icon-user"></i>
									<input type="text" class="form-control" aria-describedby="basic-addon1" name="name" placeholder="Nombre" />
								</div>
							</div>
							<div class="row">
								<div class="input">
									<i class="icon icon-email"></i>
									<input type="email" class="form-control" required aria-describedby="basic-addon1" name="_replyto" placeholder="ejemplo@test.com" />
								</div>
							</div>
							<div class="input--checkbox display-table">
								<input type="checkbox" name="terms-and-conditions" value="Acepto los términos y condiciones." />
								<span class="vertical-align">Acepto recibir información a través de correos de <h1 class="footer-h1">Manki</h1>.</span>
							</div>
							<div class="btn--hover">
								<a class="text-oswald-regular">
									<input type="submit" value="Inscribirme" class="btn-default btn-default--subscribe btn-default--traveler" />
								</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}