{% extends 'landing/layout.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container-fluid">
        <!-- First Section -->
        <section class="sec1bg">
            <div class="row">
                <div class="intro-text">
                    <img class="logo-manki-main" src="img/logo.png" alt="Logo de Manki">
                    <div class="intro-lead-in">Vive experiencias auténticas.</div>
                    <h1 class="intro-heading">Manki es una plataforma que conecta a viajeros con guías locales, para que ambos puedan disfrutar una gran experiencia en la ciudad.</h1>
                </div>
            </div>
        </section>

        <!-- Second Section -->
        <section class="sec2center">
            <div class="n-margin">
                <div class="row">
                    <h3 class="viajerotitle">VIAJEROS<br><br></h3>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <h2 class="sec2">Explora un lugar con la persona que mejor lo conoce.</h2>
                        <h3 class="sec2 text">Nadie conoce mejor la ciudad que los que viven en ella. Por eso, en Manki te conectamos con gente local para que te ayude a vivir la ciudad en toda su dimensión.</h3>
                        <a class="waves-effect btn-viajero" href="#viajero">QUIERO SER UN VIAJERO MANKI</a>
                    </div>
                    <div class="hidden-xs hidden-sm hidden-md col-lg-6 col-xl-6">
                        <img src="img/world.png" alt="Quiero ser un viajero manki">
                    </div>
                </div>
            </div>
        </section>

        <!-- Third Section -->
        <section class="sec3center">
            <div class="n-margin">
                <div class="row">
                    <h3 class="guiatitle">GUÍAS<br><br></h3>
                    <div class="hidden-xs hidden-sm hidden-md col-lg-6 col-xl-6">
                        <img src="img/hands.png" alt="Quiero ser un guia manki">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <h2 class="sec3">Comparte tu talento y muestra lo mejor de tu ciudad.</h2>
                        <h3 class="sec3 text">¿Tienes un talento que compartir? ¿Conoces lugares que crees que todos deberían visitar? Es tu oportunidad de mostrarlo y generar ingresos en el proceso.</h3>
                        <a class="waves-effect btn-guia" href="guias.html">QUIERO SER UN GUÍA MANKI</a>
                    </div>
                </div>
            </div>
        </section>

        <!--Fourth Section-->
        <div class="row">
        <div class= "img-responsive-manki"></div>
        </div>

        <section class="n-sec-4" id="viajero">
            <div class="n-margin">
                <div class="sec4center">
                    <h1 class="sec4">¡Sé un viajero Manki!</h1>
                    <h3 class="sec4 text">Nuestra comunidad esta creciendo y desarrollándose, y muy pronto lanzaremos la plataforma. Si quieres ser uno de los primeros en probarla, inscríbete aquí:</h3>

                    <form class="formanki traveler" action="https://formspree.io/hola@mankiapp.com" method="POST">
                        <div class="row">
                            <div class="input-group col-xs-8 col-xs-push-2 col-xs-pull-2 col-sm-8 col-sm-push-2 col-sm-pull-2 col-md-8 col-md-push-2 col-md-pull-2 col-lg-8 col-lg-push-2 col-lg-pull-2 col-xl-8 col-xl-push-2 col-xl-pull-2">
                                <span class="glyphicon glyphicon-user input-group-addon" aria-hidden="true" style="color:#ff5638;"></span>
                                <input type="text" class="form-control" aria-describedby="basic-addon1" name="name" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group col-xs-8 col-xs-push-2 col-xs-pull-2 col-sm-8 col-sm-push-2 col-sm-pull-2 col-md-8 col-md-push-2 col-md-pull-2 col-lg-8 col-lg-push-2 col-lg-pull-2 col-xl-8 col-xl-push-2 col-xl-pull-2">
                                <span class="glyphicon glyphicon-envelope input-group-addon" aria-hidden="true" style="color:#ff5638;"></span>
                                <input type="email" class="form-control" aria-describedby="basic-addon1" name="_replyto" placeholder="ejemplo@test.com">
                            </div>
                        </div>
                        <input type="submit" value="Enviar" class="waves-effect btn-enviar">
                    </form>
                </div>
            </div>
        </section>

        <!--Fifth/Footer Section-->
        <section class="image-sec-3">
            <div class="n-margin">
                <div class="sec5">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <img class="logo-manki-main" src="img/logo.png" alt="Logo de Manki">
                        <h1 class="sec5 two">En Manki queremos hacer del mundo un lugar más acogedor y cercano para los viajeros.</h1>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <h5 class="sec5">Si te gusta nuestra visión y estás interesado en nuestro proyecto, puedes seguirnos en redes sociales</h5>
                        <br>
                        <button class="facebook"></button> 
                        <button class="medium"></button>
                        <br>
                        <h5 class="sec5">¿Te parece una idea interesate? En Manki estamos buscando gente que quiera apoyarnos.<br><br>Si te interesa invertir en nosotros o colaborar con el proyecto, déjanos tu e-mail y nos pondremos en contacto contigo</h5>
                        <form class="formanki newsletter" action="https://formspree.io/hola@mankiapp.com" method="POST">
                            <div class="row">
                                <div class="input-group col-xs-8 col-xs-push-2 col-xs-pull-2 col-sm-8 col-sm-push-2 col-sm-pull-2 col-md-8 col-md-push-2 col-md-pull-2 col-lg-8 col-lg-push-2 col-lg-pull-2 col-xl-8 col-xl-push-2 col-xl-pull-2">
                                    <input type="email" class="form-control" aria-describedby="basic-addon1" name="_replyto_shareholder" placeholder="ejemplo@test.com">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit" style="background-color: #f3f3f3; border-style:none;">
                                            <span class="glyphicon glyphicon-send" style="color:#ff5638;"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <h6 class="sec5 three">o escríbenos a hola@mankiapp.com</h6>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
